{
  "TOKEN": "ODk1NjU3MDM1MDUwNDAxODMy.YV7vnQ.IiVzqxtH3WchVeQAgZSLgAvkg04",
  "PREFIX": "nh",
  "COLOR": "#DD474D",
  "OWNERS": ["216512231679066114"],
  "LANG": ["english", "chinese", "japanese"],
  "BANNED": ["lolicon", "shotacon"]
}
